.sidebar {
    height: calc(100vh - 50px);
    background-color: rgb(82, 78, 78);
    overflow-y: scroll;
    overflow-x: hidden;
    color:#f1f1f1;
    flex: 25%;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(197, 199, 201);
}
.sidebarWrapper {
    padding: 20px;
    background-color: rgb(82, 78, 78);

}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.sidebarIcon {
    margin-right: 15px;
}

.sidebarButton {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.sidebarHr {
    margin:20px 0px;
}

.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style:none;
}

