.rightbarFollowing {
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.rightbarFollowingImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}