.login {
    width: 100%;
    height: 100vh;
    background-color: rgb(82, 78, 78);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: darkgray;
}

.loginWrapper {
    width: 90%;
    height: 80%;
    background-color: rgb(52, 1, 52);
    display:flex;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.73);
    -webkit-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.73);
}
.loginLeft, .loginRight {
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 1rem;
    margin-left: 1rem;

}
.loginDesc {
    margin-left: 1rem;
}

.loginBox {
    height: 300px;
    padding: 20px;
    background-color: rgb(82, 78, 78);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 4rem;

}

.loginInput {
    height: 50px;
    border-radius: 10px;
    background-color: lightgray;
    border: 1px solid white;
    font-size: 18px;
    padding-left: 20px;
}
.loginInput:focus {
    outline: none;
}


.loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    font-style: 20px;
    font-weight: 500;
    cursor:pointer;
}

.loginForgot {
    text-align: center;


}
.loginForgot:hover {
    color:#1775ee;
    cursor:pointer;
}

.loginRegisterButton {
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-style: 20px;
    font-weight: 500;
    cursor:pointer;
}
