.sidebarFriend {
    display:flex;
    align-items: center;
    margin-bottom: 15px;
    cursor:pointer;

}

.sidebarFriendImg {
    width: 2rem;
    height: 32px;
    border-radius: 50%;
    object-fit:cover;
    margin: right 10px;
}

.sidebarFriendName {
    margin-left: 15px;
}